<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419275667763-tgv51bpkkgbgr1mffftocre93qaego9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419275667763-tgv51bpkkgbgr1mffftocre93qaego9k</string>
	<key>API_KEY</key>
	<string>AIzaSyD_AldHUgF_V15Q7IvkpVt1PGPltEkRwVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>419275667763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agrigenie.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>agrigenie-d174f</string>
	<key>STORAGE_BUCKET</key>
	<string>agrigenie-d174f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419275667763:ios:969016b5439b38bc03e646</string>
</dict>
</plist>